@model IEnumerable<Common.Model.RegisterModel>

@{
    ViewData["Title"] = "Index";
}

<h1>List Of Users</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Password)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            <td>
                    @Html.ActionLink("Edit", "UpdateUser", new { UserId=item.UserId }) |
                    @Html.ActionLink("Details", "UserDetails", new { UserId=item.UserId  }) |
                    @Html.ActionLink("Delete", "DeleteUser", new { UserId=item.UserId  })
            </td>
        </tr>
}
    </tbody>
</table>
